---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
//	background: $white;
  font: 18px/1.4 $helvetica;
//  color: $darkGray;
    transition: all 0.30s ease-out;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 80%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-family: 'Lato', sans-serif;
}

p::selection {
    background-color: yellow;
}

a {
  color: $darkGray;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkGray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

// INDEX PAGE STYLES

#home_page {
    position: relative;
    width: 100%;
    display: inline-block;
}

.slogan {
    margin-bottom: 90px;
    font-family: 'Slabo 27px', serif;
    line-height: 50px;
    font-size: 38px;
    text-align: center;
    color: #333333;
}

.slogan::selection {
    background-color: yellow;
}

span.ti-container::selection {
    background-color: yellow;
}

.about_me {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}

#photo {
    width: 50%;
    display: inline-block;
}

#photo img {
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#intro {
    width: 50%;
    display: inline-block;
    float: right;
}

.title_heavy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333333;
}

.title_heavy::selection {
    background-color: yellow;
}

// RESUME PAGE LAYOUT

.resume_h3 {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-top: 50px;
}

.resume_h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.resume_h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.resume_date {
    font-weight: 400;
    color: #86888A;
}

.resume_desc {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.contact {
    display: inline;
}

.download {
    float: right;
    display: inline;
    padding: 15px;
    border-radius: 30px;
    background-color: #313E50;
    color: #fff;
    margin-top: -10px;
    border-color: #313E50;
}

.download_mobile {
    display: none;
}

/* PROJECTS PAGE */
#projects {
    margin: 0 auto;
    text-align: center;
}

.item {
    width: 30%;
    display: inline-block;
    margin: 9px;
}

/* INDIVIDUAL PROJECTS PAGE */

.project_section {
    margin-top: 5%;
}

#projects h3 {
    text-align: left;
}

#projects p {
    text-align: left;
}

#portfolio_wrapper {
    height: auto;
    width: 100%;
    display: inline-block;
}

#left_project {
    width: 50%;
    float: left;
    clear: both;
    display: inline;
}

#right_project {
    width: 50%;
    float: right;
}

.project_sketch {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

.project_img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

video {
    margin: 0 auto;
    display: block;
    border: 1px solid #ededed;
    box-shadow: $shadow;
}

/* END INDIVIDUAL PROJECTS PAGE */


/* OASIS */

#left_project_oasis {
    width: 50%;
    float: left;
    clear: both;
    display: inline;
}

#left_project_oasis img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

#right_project_oasis {
    width: 50%;
    float: right;
}

#right_project_oasis img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

#oasis_logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

#oasis_logo img {
    width: 30%;
    margin: 0 auto;
    margin-right: 10px;
    box-shadow: $shadow;
}

/* END OASIS */

/* MUSIC + MOTION */

.mm_video {
    width: 90%;
    box-shadow: $shadow;
}

.mm_img {
    width: 90%;
    box-shadow: $shadow;
}

/* END MUSIC + MOTION  */

/* FRUIT */

.fruit_preview img {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

//.fruit_combo {
//    box-shadow: $shadow;
//}

/* FRUIT END */

/* GLITCH */

#portfolio_wrapper_religion {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}

/* GLITCH END */

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: none;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 20px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
      &:hover, &:active {
        color: $darkGray;
        text-decoration: underline;
      }

    @include mobile {
      color: $darkGray;
    }

  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  width: 80%;
  margin: auto;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  color: #EEE;
  font-size: 10px;
}

.fa-heart {
    color: #FB4248;
    opacity: 0.5;
}

.fa-instagram {
    padding-right: 10px;
}

.fa-twitter {
    padding-right: 10px;
}

.fa-linkedin {
    padding-right: 10px;
}

.fa-facebook {
    padding-right: 10px;
}

/* Mobile Styling */
@media only screen and (max-width: 900px) {
    .about_me {
        font-size: 15px;
    }
}

@media only screen and (max-width: 855px) {
    .slogan {
        font-size: 27px;
        margin-bottom: 50px !important;
        margin-top: 25px;
    }
    .item {
        width: 46%;
    }
    #projects p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .oasis_logo {
        width: 100%;
    }
    #left_project_oasis {
        width: 100%;
    }
    #right_project_oasis {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    nav {
        font-size: 15px;
    }
    #photo {
        width: 60%;
        margin: 0 auto;
        display: block;
    }
    .slogan {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #intro {
        width: 100%;
        margin-top: 30px;
    }
    #photo img {
        width: 100%;
    }
    #left_project {
        width: 100%;
        margin-bottom: 20px;
    }
    #right_project {
        width: 100%;
    }
    #projects h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 666px) {
    .item {
        width: 100%;
        display: inline-block;
        margin-bottom: 25px;
    }
    .project_title {
        font-size: 20px;
    }
    #left_project img {
        width: 100%;
    }
    #right_project img {
        width: 100%;
    }
    
}

@media only screen and (max-width: 640px) {
    .slogan {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 30px !important;
    }
    #intro {
        width: 100%;
        margin-top: 0px;
    }
    .title_heavy {
        font-size: 18px;
    }
    .resume_h3 {
        font-size: 20px;
    }
    .resume_h5 {
        font-size: 16px;
    }
    .resume_h6 {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .resume_date {
        display: block;
        float: none;
    }
    .download {
        display: none;
    }
    .download_mobile {
        font-family: 'Lato', sans-serif;
        text-decoration: underline;
        display: block;
        font-size: 14px;
        color: #000;
    }
    .item {
        display: block;
        padding: 1vw;
    }
}

@media only screen and (max-width: 530px) {
    .slogan {
        font-size: 17px;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    #intro {
        margin-top: 10px;
    }
    .title_heavy {
        font-size: 15px;
    }
    .about_me {
        font-size: 13px;
    }
    .item {
        margin-left: 0px !important;
    }

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.in-progress {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: #e0e0e0;
}

.open {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: #e0e0e0;
}

//#########################################################
// SICKO MODE
//#########################################################

$dark-color: #282D3E;
$light-color: #fff;

body.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  transition: $fade;
  a {
    color: $light-color;
  }
  h2, h3, h5, h6 {
      color: $light-color;
  }
  .dark_syntax {
      color: #8BE9FD;
  }
  #logo {
      display: none;
      position: absolute;
  }
  #logo_white {
      display: inline-block;
      margin-left: 13px;
  }
  nav a {
      color: $light-color;
  }
    .project_sketch {
        box-shadow: $shadow;
    }
    .project_img {
        box-shadow: $shadow;
    }
}

  #logo {
    display: inline-block;
    width: 60px;
  }
  #logo_white {
    display: none;
  }

//body.light-mode {
//  background-color: $light-color;
//  color: $dark-color;
//  a {
//    color: $dark-color;
//  }
//  #logo {
//    display: inline-block;
//  }
//  #logo_white {
//    display: none;
//  }
//}

.switch {
  position: relative;
  display: inline;
  width: 55px;
  height: 30px;
  float: right;
  margin-left: 15px;
  margin-top: -3px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "🌗";
  height: 23px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}