---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

*::-moz-selection {
    background: yellow !important;
}
::selection {
    background: yellow !important;
}

html {
    font-size: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

body {
//	background: $white;
  font: 18px/1.4 $helvetica;
//  color: $darkGray;
    transition: all 0.10s ease-out;
}

header {
    position: fixed;
    top: 0;
    // width: 100%;
}

.container {
  margin: 0 auto;
  // padding: 0 10px;
  margin-top: 125px;
  width: 90%;
}

#cclab {
    h2 {
        font-weight: normal;
    }
    h5 {
        text-decoration: underline;;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}

p::selection {
    background-color: yellow;
}

a {
  color: $darkGray;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkGray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

hr {
    margin: 40px 0px 40px 0px;
    border: 0;
    border-top: 1px solid #ededed;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

// INDEX PAGE STYLES

#home_page {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 6%;
}

.slogan {
//    margin-bottom: 90px;
    margin: 15px 0px 60px 0px;
    font-family: 'Slabo 27px', serif;
    font-size: 38px;
    text-align: center;
    color: #333333;
}

.slogan::selection {
    background-color: yellow;
}

span.ti-container::selection {
    background-color: yellow;
}

.about_me {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}

#photo {
    width: 50%;
    display: inline-block;
    z-index: 2;
}

#photo img {
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: grab;
}

#intro {
    width: 50%;
    display: inline-block;
    float: right;
}

.name {
    font-weight: 500;
    color: #333333;
}

.title_heavy::selection {
    background-color: yellow;
}

// RESUME PAGE LAYOUT

.resume_h3 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-top: 50px;
}

.resume_h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.resume_h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.resume_date {
    font-weight: 400;
    color: #86888A;
}

.resume_desc {
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    li {
        text-align: left;
    }
}

.contact {
    display: inline;
    font-weight: 300;
}

.download {
    float: right;
    display: inline;
    padding: 10px;
    border-radius: 20px;
    background-color: #313E50;
    color: #fff;
    margin-top: -10px;
    border-color: #313E50;
}

.download_mobile {
    display: none;
}

/* PROJECTS PAGE */
#projects {
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
}

.item {
    width: 33%;
    display: inline-block;
    // margin: 9px;
}

#freelance {
    width: 100%;
}

.projectRow {
    display: inline-flex;
    width: 100%;
}

.projectLeft {
    width: 40%;
    display: inline-block;
}

.projectRight {
    width: 60%;
    padding-left: 5%;
    display: inline-block;;
}

.boldDesc {
    font-weight: bold;
}

/* INDIVIDUAL PROJECTS PAGE */

img.banner {
    width: 100%;
}

.project_section {
    margin-top: 5%;
}

.half_left {
    box-shadow: $shadow;
    width: 49%;
}

.half_right {
    box-shadow: $shadow;
    width: 49%;
}

#projects h3 {
    text-align: left;
}

#projects p {
    text-align: left;
}

.portfolio_wrapper {
    height: auto;
    width: 100%;
    display: inline-block;
    margin: 5% 0;
}

#left_project {
    width: 50%;
    float: left;
    clear: both;
    display: inline;
}

#right_project {
    width: 50%;
    float: right;
}

.project_sketch {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

.project_img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

video {
    margin: 0 auto;
    display: block;
    border: 1px solid #ededed;
    box-shadow: $shadow;
}

/* END INDIVIDUAL PROJECTS PAGE */


/* OASIS */

#left_project_oasis {
    width: 50%;
    float: left;
    clear: both;
    display: inline;
}

#left_project_oasis img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

#right_project_oasis {
    width: 50%;
    float: right;
}

#right_project_oasis img {
    border: 1px solid #ededed;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: $shadow;
}

#oasis_logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

#oasis_logo img {
    width: 30%;
    margin: 0 auto;
    margin-right: 10px;
    box-shadow: $shadow;
}

/* END OASIS */

/* MUSIC + MOTION */

.mm_video {
    width: 90%;
    box-shadow: $shadow;
}

.mm_img {
    width: 90%;
    box-shadow: $shadow;
}

/* END MUSIC + MOTION  */

/* FRUIT */

.fruit_preview img {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fruit_combo {
   box-shadow: $shadow;
   margin: 5% 0;
}

.finalimage {
    margin-top: 5%;
}

/* FRUIT END */

/* GLITCH */

#portfolio_wrapper_religion {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}

/* GLITCH END */

.masthead {
    width: 100%;
    background-color: #fff;
    z-index: 1;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 16px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    // float: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 16px;
  display: flex;

  @include mobile {
    float: none;
    margin-top: 20px;
    display: block;
    font-size: 16px;
    text-align: center;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
      &:hover, &:active {
        color: $darkGray;
        text-decoration: underline;
      }

    .active {
        color: $darkGray;
        text-decoration: underline;
    }

    @include mobile {
      color: $darkGray;
    }

  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  width: 80%;
  margin: auto;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  color: #ababab;
  font-size: 10px;
}

.fa-heart {
    color: #FB4248;
    opacity: 0.5;
}

.fa-instagram {
    padding-right: 10px;
}

.fa-twitter {
    padding-right: 10px;
}

.fa-linkedin {
    padding-right: 10px;
}

.fa-facebook {
    padding-right: 10px;
}
/////////////////////////////////////////////////////////////////////
/* Mobile Styling */
/////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1024px) {
    .item {
        width: 32%;
    }
    .projectRow {
        margin-bottom: 50px;
    }
    h2 {
        margin: 15px 0 15px 0;
        line-height: 0;
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 50px;
    }
    nav {
        font-size: 14px;
    }
    .container {
        margin-top: 150px;
    }
    .item {
        width: 49%;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
        line-height: 1.6;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        margin-top: 110px;
    }
    nav {
        margin-top: 10px;
        a {
            margin-left: 0;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 11px;
        }
    }
    .masthead {
        text-align: left;
        z-index: 10;
    }
    body.dark #logo {
        width: 40px;
    }
    .site-avatar {
        float: left;
        display: inline;
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    #switch {
        font-size: 14px !important;
        cursor: pointer;
        display: inline-flex;
        padding-left: 0 !important;
        margin-top: 0 !important;
    }
    .slogan {
        margin-bottom: 30px !important;
    }
    #photo {
        margin-bottom: 50px !important;
    }
    .projectRow {
        display: block;
    }
    .projectLeft {
        width: 100%;
    }
    .projectRight {
        width: 100%;
    }
    #oasis_logo img {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10%;
        margin-right: 10px;
        box-shadow: $shadow;
    }
}

@media only screen and (max-width: 900px) {
    .title {
        font-size: 25px;
    }
    .about_me {
        font-size: 15px;
    }
}

@media only screen and (max-width: 855px) {
    .slogan {
        font-size: 27px;
        margin-bottom: 50px !important;
        margin-top: 25px;
    }
    #projects p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .oasis_logo {
        width: 100%;
    }
    #left_project_oasis {
        width: 100%;
    }
    #right_project_oasis {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .title {
        font-size: 24px;
    }
    nav {
        font-size: 15px;
    }
    #photo {
        width: 60%;
        margin: 0 auto;
        display: block;
        cursor: grab;
    }
    .slogan {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #intro {
        width: 100%;
        margin-top: 30px;
    }
    #photo img {
        width: 100%;
    }
    #left_project {
        width: 100%;
        margin-bottom: 20px;
    }
    #right_project {
        width: 100%;
    }
    #projects h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 666px) {
    .title {
        font-size: 20px;
    }
    .sub_title {
        font-size: 17px;
    }
    .item {
        width: 100%;
        display: inline-block;
        margin-bottom: 25px;
    }
    .project_title {
        font-size: 20px;
    }
    #left_project img {
        width: 100%;
    }
    #right_project img {
        width: 100%;
    }
    img.half_left {
        width: 100%;
    }
    img.half_right {
        width: 100%;
    }

}

@media only screen and (max-width: 640px) {
    .slogan {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 30px !important;
    }
    #intro {
        width: 100%;
        margin-top: 0px;
    }
    .title_heavy {
        font-size: 18px;
    }
    .resume_h3 {
        font-size: 20px;
    }
    .resume_h5 {
        font-size: 16px;
    }
    .resume_h6 {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .resume_date {
        display: block;
        float: none;
    }
    .download {
        display: none;
    }
    .download_mobile {
        font-family: 'Lato', sans-serif;
        text-decoration: underline;
        display: block;
        font-size: 14px;
        color: #000;
    }
    .item {
        display: block;
        padding: 1vw;
    }
}

@media only screen and (max-width: 530px) {
    .slogan {
        font-size: 17px;
        margin-top: 0px !important;
        // margin-bottom: 20px !important;
    }
    #intro {
        margin-top: 10px;
    }
    .title_heavy {
        font-size: 15px;
    }
    .about_me {
        font-size: 13px;
    }
    .item {
        margin-left: 0px !important;
    }

}

@media only screen and (max-width: 375px) {
    nav a {
        font-size: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    #switch {
        font-size: 10px !important;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.in-progress {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: #d0d0d0;
    a {
        color: #d0d0d0;
        text-decoration: underline;
    }
}

.open {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: #e0e0e0;
    a {
        color: #e0e0e0;
        text-decoration: underline;
    }
}

//#########################################################
// SICKO MODE
//#########################################################

$dark-color: #1E2227;
$light-color: #fff;

#switch {
    font-size: 22px;
    cursor: pointer;
    margin-top: -5px;
    padding-left: 20px;

    @include mobile {
        float: right;
    }
}

body.dark {
  background-color: $dark-color;
  color: $light-color;
  transition: $fade;
  a {
    color: $light-color;
  }
  h2, h3, h5, h6 {
      color: $light-color;
  }
  .dark_syntax {
      color: #8BE9FD;
  }
  .name {
      color: $light-color;
  }
  #logo {
      filter: invert(100%);
      position: absolute;
  }
  .title {
      color: $light-color;
  }
  nav a {
      color: $light-color;
  }
    .project_sketch {
        box-shadow: $shadow;
    }
    .project_img {
        box-shadow: $shadow;
    }
    .masthead {
        background-color: #1E2227;
        transition: all 0.10s ease-out;
        width: 100%;
        z-index: 1;
        left: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .resume_date {
        color: $light-color;
    }
}

  #logo {
    display: inline-block;
    width: 60px;
  }
  #logo_white {
    display: none;
  }
